<body>
    <main class="day-main">
        <div class="day-container">
            <h1>Day {{day_id}}</h1>
            <form class="day-form" id="day-form">
            <div class="form-group">
                <label for="run-check">Did you run 30 minutes:</label>
                <input type="checkbox" id="run-check" name="run_check" {{#if run_check}}checked{{/if}} />
            </div>
            <div class="form-group">
                <label for="water-check">How many liters of water did you drink:</label>
                <input type="number" id="water-check" name="water_check" value="{{water_check}}" />
            </div>
            <div class="form-group">
                <label for="page-check">How many pages of a book did you read:</label>
                <input type="number" id="page-check" name="page_check" value="{{page_check}}" />
            </div>
            <div class="form-group">
                <label for="alcohol-check">If you did not drink alcohol:</label>
                <input type="checkbox" id="alcohol-check" name="alcohol_check" {{#if alcohol_check}}checked{{/if}} />
            </div>
            <div class="form-group">
                <label for="workout-check">How many minutes did you work out</label>
                <input type="number" id="workout-check" name="workout_check" value="{{workout_check}}" />
            </div>
            <div class="form-group">
                <label for="sleep-check">How many hours of sleep did you get last night?</label>
                <input type="number" id="sleep-check" name="sleep_check" value="{{sleep_check}}" />
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </main>
    <footer class="footer">
        <p>"Find something to believe in, and find it for yourself. When you do, pass it on to the future." -Solid Snake, MGS2</p>
    </footer>
    <script src="/js/daybars.js"></script>
</body>