  <div class="container">
        <!-- Generate 30 boxes dynamically using JavaScript -->
  </div>
    <div id="challenge-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="day-title"></h2>
            <form id="challenges-form">
                <ul id="challenges-list">
                    <li><input type="checkbox" id="task1"> Run/Walk for 30 minutes</li>
                    <li><input type="checkbox" id="task2"> Drink a Gallon of Water a day</li>
                    <li><input type="checkbox" id="task3"> Read 8 pages of a book</li>
                    <li><input type="checkbox" id="task4"> No Alcohol</li>
                    <li><input type="checkbox" id="task5"> Workout 45 minutes a day</li>
                    <li><input type="checkbox" id="task6"> More than 7 hours of sleep</li>
                </ul>
                <button type="button" id="submit-tasks">Submit</button>
            </form>
        </div>
    </div>   
    <h4 class="profileQuote">“To bring about change, you must not be afraid to take the first step. We will fail when we fail to try.” — Rosa Parks
    </h4>
 
    <script src="/js/profile.js"></script>

<div class="container mt-5">
    <h2>Welcome, {{username}}!</h2>
<div class="row">
    {{#each days}}
    <div class="col-2 mb-3">
        <div class="day-box" id="day-{{this.day}}" onclick="showChallenges({{this.day}})">
        Day {{this.day}}
        </div>
        <div class="challenges d-none" id="challenges-{{this.day}}">
        <ul>
            {{#each this.challenges}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        </div>
    </div>
    {{/each}}
</div>
</div>